---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">귀엽지만 강력한 성능</h5>

            <p class="light">꿀벌모양의 이 초소형기능성 뮤직셋탑박스는 단지 귀엽기만해 보이지만, 사실 매우 훌륭한 친구입니다. 당신의 점포에 귀여움을 더하면서 손님유치에 도움이 되도록 하겠습니다!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">손님 유치 전략</h5>

            <p class="light">손님들은 귀여운 꿀벌에 이끌릴 뿐더러, 더욱 귀여운 이친구를 통해 신나는 노래를 들을 수 있습니다. 뭐라구? 그 가게에 넘모넘모 귀여운 꿀벌친구가 있다고?? 가쟝 ><</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">수정하기 쉬운 코드</h5>

            <p class="light">매우 단순한 구조의 코드로 아마추어라도 손쉽게 기능 수정이 가능합니다! 또한 코드는 무료배포입니다!</p>
          </div>
        </div>
      </div>

    </div>
      
    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div>

  </div>
